{% extends 'base.twig' %}
{% block content %}

{% set content %}
{% set options = function('get_option', 'realestate_settings') %}
<h1 class="archive-title">{% if options.realestate_title %}{{options.realestate_title}}{% else %}{{archive_title}}{% endif %}</h1>
{% include 'archive-real-estate-header.twig' ignore missing %}
{{options.realestate_pre_text}}
<div class="table-responsive">
  <table class="table" id="real-estate-grid">
    <thead>
      <tr>
        <th>Type</th>
        <th>Unit</th>
        <th>View</th>
        <th>Floor</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for article in function('get_fg_post_type','real-estate',100, 'meta_value','DESC', 'condo-price')  %}
      {% set s = article.get_field('condo-status') %}
      {% set status %}{% if s == 'sold' %}(Sold){% elseif s == 'pending' %}(Sale Pending){% endif %}{% endset %}
      {# get location image
      {% set location_image = false %}
      {% set img_id = article.get_field('location-map') %}
      {% if img_id is iterable %}{% set img_id = img_id | first %}{% endif %}
      {% if  img_id + 0 > 0 %}
        {% set location_image = TimberImage(img_id) %}
      {% endif %}
      #}
        {% if s != 'inactive' %}
        <tr>
          <td>{{article.get_field('condo-type')}} {{article.get_field('condo-style')}}</td>
          <td>
            {% set display_type = article.get_field('condo-display-type') %}
            {% if display_type == 'pdf' %}
                {% set pdf_id = article.get_field('fg-pdf') %}
                {% if pdf_id is iterable %}{% set pdf_id = pdf_id | first %}{% endif %}
                {% set pdf = TimberImage(pdf_id) %}

                <a href="{{pdf.src}}" target="_blank">{{article.title}} </a>
            {% elseif display_type == 'html'%}
                <a href="{{article.link}}">{{article.title}}</a>
            {% else %}
              {{article.title}}
            {% endif %}
          </td>
          <td>
            {{article.get_field('condo-view')}}
            <div>{{article.get_field('condo-index-details')}}</div>
          </td>
          <td>{% if article.get_field('condo-style') == 'Condominium'%}{{article.get_field('condo-floor') | capitalize}}{% else %}N/A{% endif %}</td>
          <td>{{article.get_field('condo-price')}} {{options.realestate_units | default('US')}} {{status | trim}}</td>
          {#<td class="script-gallery-action">{%if location_image %}<a href="{{location_image.src}}" data-smoothzoom="group_{{img_id}}"><i class="fa fa-map-marker" aria-hidden="true"><img src="{{location_image.src |resize(100)}}" alt="Real-estate Unit {{article.title}}" style="dispaly:none;visibility:hidden;height:0;" /></i></a>{% endif %}</td>#}
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'archive-real-estate-footer.twig' ignore missing %}
{{options.realestate_post_text}}
{% endset %}
{% set before = options['sidebar-before-menu-editor'] %}
{% set after  = options['sidebar-after-menu-editor'] %}
{% set s_menu = options['sidebar-override-menu'] %}
{% set sidebar_override = options['sidebar-override']  == 'yes' %}
{% include 'base-page.twig' with {
	page_class_content : sidebar_override ? config.settings.page.grid.left.class ~' content-has-sidebar' : 'col-sm-12',
	page_class_sidebar : sidebar_override ? config.settings.page.grid.right.class : false,
	page_content : content,
	}
%}
{% endblock %}
